.multiselectOption {
  cursor: pointer;
  margin: 0.5rem;
}

.multiselectOption:hover {
  background-color: hsl(206, 70%, 96%);
}

.multiselectSelected {
  cursor: pointer;
  margin: 0.5rem;
  background-color: hsl(206, 70%, 96%);
}

.multiselectSelected:hover {
  background-color: hsl(347, 90%, 96%);
}
